@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 80px;
    min-width: 80px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: maroon;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}


.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: rgb(66, 0, 0);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.profile-pic{
  max-width: 200px;
  max-height:200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: all .25s ease-in-out;

}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar .sidebar-nav .sidebar-item .sidebar-link:hover {
  color: yellow; /* Change to the desired color */
}

#sidebar .sidebar-footer .sidebar-item .sidebar-link:hover {
  color: yellow; /* Change to the desired color */
}



#body{
  background-color: #ebeff5;
}
#total-orders{
  background-color: #4cb3c7;

}
#orders-delivered{
  background-color: #7abecc;
}
#orders-pending{
  background-color: #7CD1C0;
}

.navbar{
  background-color: maroon; 
  height: 80px;
  
}
.navbar-text,
.navbar-brand {
  color: white !important;
  font-family: 'Poppins';font-size: 35px;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: white !important;
  font-family: 'Poppins';font-size: 35px;
}

.brand {
  color: white !important;
  font-family: 'Poppins';font-size: 35px;
}

.tab {
   display: inline-block;
   margin-left: 10px;
}

.nav-link{
   transition: all 0.2;
   color: white;
   font-family: 'Poppins';font-size: 20px;
}
.nav-link:hover{
color: yellow;
font-family: 'Poppins';font-size: 20px;
}
.hello-msg{
  color:white;
  font-family: 'Poppins';font-size: 20px;
  margin-right: 20px;
  }

.nav-link::after{
content: '';
opacity: 0;
transition: all 0.2;
width: 100%;
background-color: yellow;
bottom: 0;
left: 0;
}
.navbar-nav .open .dropdown-menu {
  background-color: maroon !important; 
  font-family: 'Poppins';font-size: 20px;
  color: white !important;
  position: absolute;
  float: none;
  width: auto;
  margin-top: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
}

.nav-link:hover::after{
  color: white !important;
opacity: 0;
}

.navbar-nav .active {
   color: yellow !important;

}

.dropdown-menu{
  background-color: maroon !important; 
  font-family: 'Poppins';font-size: 20px;
  color: white !important;
}

.dropdown-menu .active {
  color: yellow !important;

}
.dropdown-item{
  color: white !important;
}

.dropdown-item:hover{
  background-color: maroon !important; 
  color: yellow !important;
}

.footer {

  color: #000000;
  height: 100px;
}