

{%  extends 'hris/base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper">
        {% include 'hris/navbar.html' %}      
        <div class="main p-3">
            <div class="text-center">
                <div class="row">
                    <form method="GET">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search..." name="q"
                            
                            
                            value="">
                
                
                
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="contaier" style="width: 80%;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Attendance Record</th>
                                <th>Edited By</th>
                                <th>Logged Data</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>{{ log.attendance_record  }}</td>
                                <td>{{ log.edited_by }}</td>
                                <td>{{ log.logged_data |linebreaksbr }}</td>
                                <td>{{ log.timestamp }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if logs.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ logs.previous_page_number }}">Previous</a></li>
                            {% endif %}
                            {% for i in logs.paginator.page_range %}
                            <li class="page-item {% if i == logs.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endfor %}
                            {% if logs.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ logs.next_page_number }}">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                
            </div>
            {% include 'hris/footer.html' %}  
          </div>
          
        </div>
    </div>
    {% endblock content %}