{%  extends 'hris/base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper">
        {% include 'hris/navbar.html' %}      
        <div class="main p-3">
            <div class="text-center">
                <div class="row">
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-info">
                        <div class="inner">
                          <h3>150</h3>
          
                          <p>Regular Personnel</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-success">
                        <div class="inner">
                          <h3>150</sup></h3>
          
                          <p>Job Order Personnel</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-warning">
                        <div class="inner">
                          <h3>44</h3>
          
                          <p>User Registrations</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                      <!-- small box -->
                      <div class="small-box bg-danger">
                        <div class="inner">
                          <h3>65</h3>
                          <p>Visitors</p>
                        </div>
                        <div class="icon">
                          <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                      </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="container text-center">
                        <div class="row align-items-start">
                          <div class="col">
                            <div class="card">
                    <div class="card-header border-transparent">
                      <h3 class="card-title">Employee Attendance</h3>
      
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                      <div class="table-responsive">
                        <table class="table m-0">
                          <thead>
                          <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Clocked In</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>38765</td>
                                <td>Juan Dela Cruz</td>
                                <td>2024-02-03 07:25:14</td>
                              </tr>
                              
                              <tr>
                                <td>45321</td>
                                <td>Maria Santos</td>
                                <td>2024-02-07 07:45:32</td>
                              </tr>
                              
                              <tr>
                                <td>89672</td>
                                <td>José González</td>
                                <td>2024-02-09 07:12:56</td>
                              </tr>
                              
                              <tr>
                                <td>12387</td>
                                <td>Andrea Reyes</td>
                                <td>2024-02-12 07:38:21</td>
                              </tr>
                              
                              <tr>
                                <td>54629</td>
                                <td>Carlos Garcia</td>
                                <td>2024-02-15 07:58:49</td>
                              </tr>
                              
                              <tr>
                                <td>78912</td>
                                <td>Marcela Rivera</td>
                                <td>2024-02-18 07:27:03</td>
                              </tr>
                              
                              <tr>
                                <td>23546</td>
                                <td>Diego Fernandez</td>
                                <td>2024-02-21 07:36:55</td>
                              </tr>
                              
                              <tr>
                                <td>65783</td>
                                <td>Camila Ramirez</td>
                                <td>2024-02-24 07:52:19</td>
                              </tr>
                              
                              <tr>
                                <td>91432</td>
                                <td>Sofia Martinez</td>
                                <td>2024-02-27 07:11:42</td>
                              </tr>
                              
                              <tr>
                                <td>42567</td>
                                <td>Luis Hernandez</td>
                                <td>2024-02-29 07:47:06</td>
                              </tr>
                              
                        
                          </tbody>
                        </table>
                      </div>
                      <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                      
                      <a href="javascript:void(0)" class="btn btn-sm btn-primary float-right">View All Attendance</a>
                    </div>
                    <!-- /.card-footer -->
                  </div>
                          </div>
                          <div class="col">
                            <div class="card">
                                <div class="card-header border-transparent">
                                  <h3 class="card-title">Employee Attendance</h3>
                  
                                  <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                      <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                      <i class="fas fa-times"></i>
                                    </button>
                                  </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                  <div class="table-responsive">
                                    <table class="table m-0">
                                      <thead>
                                      <tr>
                                        <th>Employee ID</th>
                                        <th>Name</th>
                                        <th>Clocked In</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td>38765</td>
                                            <td>Juan Dela Cruz</td>
                                            <td>2024-02-03 07:25:14</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>45321</td>
                                            <td>Maria Santos</td>
                                            <td>2024-02-07 07:45:32</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>89672</td>
                                            <td>José González</td>
                                            <td>2024-02-09 07:12:56</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>12387</td>
                                            <td>Andrea Reyes</td>
                                            <td>2024-02-12 07:38:21</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>54629</td>
                                            <td>Carlos Garcia</td>
                                            <td>2024-02-15 07:58:49</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>78912</td>
                                            <td>Marcela Rivera</td>
                                            <td>2024-02-18 07:27:03</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>23546</td>
                                            <td>Diego Fernandez</td>
                                            <td>2024-02-21 07:36:55</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>65783</td>
                                            <td>Camila Ramirez</td>
                                            <td>2024-02-24 07:52:19</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>91432</td>
                                            <td>Sofia Martinez</td>
                                            <td>2024-02-27 07:11:42</td>
                                          </tr>
                                          
                                          <tr>
                                            <td>42567</td>
                                            <td>Luis Hernandez</td>
                                            <td>2024-02-29 07:47:06</td>
                                          </tr>
                                          
                                    
                                      </tbody>
                                    </table>
                                  </div>
                                  <!-- /.table-responsive -->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                  
                                  <a href="javascript:void(0)" class="btn btn-sm btn-primary float-right">View All Attendance</a>
                                </div>
                                <!-- /.card-footer -->
                              </div>
                          </div>
                        </div>
                      </div>
                    
                  

                </div>
            </div>
        </div>
    </div>
    {% endblock content %}