<html>

<div style="border: 1px solid black; padding: 0.25in; width: 8in; height: 12.5in;">
<table style="border: 1px solid black; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; width: 8in; table-layout: fixed;">
    <tr>
        <td colspan="2" style="height: 0.1in; font-size: 72.5%;">
			<b><i>CS Form No. 212</i></b>
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 72.5%;">
		</td>
    </tr>
	<tr>
        <td colspan="2" style="height: 0.1in; font-size: 62.5%;">
			<b><i>Revised 2017</i></b>
		</td>
    </tr>
	<tr>
		<td colspan="15" style="height: 0.5in;">
			<h1 style="text-align: center;"><b>PERSONAL DATA SHEET</b></h1>
		</td>
    </tr>
	<tr>
		<td colspan="15" style="height: 0.3in; font-size: 62.5%;">
			<b><i>WARNING: Any misrepresentation made in the Personal Data Sheet and the Work Experience Sheet shall cause the filing of administrative/criminal case/s</i></b><br>
			<b><i>against the person concerned.</i></b><br><br>
			<b><i>READ THE ATTACHED GUIDE TO FILLING OUT THE PERSONAL DATA SHEET (PDS) BEFORE ACCOMPLISHING THE PDS FORM.</i></b>
		</td>
    </tr>
	<tr>
		<td colspan="11" style="height: 0.1in; font-size: 55%;">
			Print legibly. Tick appropriate boxes (□) and use separate sheet if necessary. Indicate N/A if not applicable. <b>DO NOT ABBREVIATE.</b>
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 55%; background-color:gray; border: 1px solid black;">
			1. CS ID No
		</td>
		<td colspan="3" style="height: 0.1in; font-size: 50%; text-align: right; border: 1px solid black;">
			(Do not fill up. For CSC use only)
		</td>
    </tr>
	<tr>
        <td colspan="15" style="height: 0.2in; font-size: 72.5%; background-color:gray; color: white;">
			<b><i>I. PERSONAL INFORMATION</i></b>
		</td>
    </tr>
	<tr>
        <td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px 1px 0px 1px solid black;">
		2.&emsp;SURNAME
		</td>
		<td colspan="12" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">{{ employee.surname }}</td>
    </tr>
	<tr>
	    <td colspan="3" rowspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 0px 1px 0px 1px solid black;">
		&emsp;&emsp;FIRST NAME
		</td>
		<td colspan="9" rowspan="2" style="height: 0.125in; font-size: 62.5%; border: 1px solid black;">{{ employee.first_name }}</td>
		<td colspan="3" style="height: 0.125in; font-size: 62.5%; border: 1px 1px 0px 1px solid black; background-color:lightgray;"><sup>NAME EXTENSION (JR, SR)</sup></td>
    </tr>
	<tr>
		<td colspan="3" style="height: 0.125in; font-size: 62.5%; border: 0px 1px 1px 1px solid black; background-color:lightgray;"><sup>&nbsp;</sup></td>
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 0px 1px 1px 1px solid black;">
		&emsp;&emsp;MIDDLE NAME
		</td>
		<td colspan="12" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">{{ employee.middle_name }}</td>
    </tr>
	<tr>
        <td colspan="3" rowspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		3.&emsp;DATE OF BIRTH<br>
		<p>&emsp;&emsp;(mm/dd/yyyy)</p>
		</td>
		<td colspan="4" rowspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">&nbsp;</td>
		<td colspan="3" rowspan="4" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black; vertical-align: top;">
			<br>
			16.&emsp;CITIZENSHIP <br>
			<br>
			&emsp;&emsp;If holder of dual citizenship,<br>
			<br>
			&emsp;&emsp;please indicate the details
		</td>
		<td colspan="5" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">&nbsp;</td>
    </tr>
	<tr>
		<td colspan="5" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">&nbsp;</td>
	</tr>	
	<tr>
        <td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		4.&emsp;PLACE OF BIRTH
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">&nbsp;</td>
    </tr>
	<tr>
        <td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		5.&emsp;SEX
		</td>
		<td colspan="5" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">&nbsp;</td>
    </tr>
	<tr>
        <td colspan="3" rowspan="4" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black; vertical-align: top;">
		<br>
		6.&emsp;CIVIL STATUS
		</td>
		<td colspan="4" rowspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
		&nbsp;
		</td>
		<td colspan="2" rowspan="6" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black black lightgray black; vertical-align: top;">
		<br>
		17.&emsp;RESIDENTIAL
		&emsp;&emsp; ADDRESS
		</td>
		<td colspan="6" style="height: 0.15in; font-size: 62.5%; border: 1px solid black;">
		&nbsp;
		</td>
    </tr>
	<tr>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray white black black; text-align: center;">
			<i>House/Block/Lot No.</i>
		</td>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray white black black; text-align: center;">
			<i>Street</i>
		</td>
	</tr>
	<tr>
		<td colspan="6" style="height: 0.15in; font-size: 62.5%; border: 1px solid black;">
		</td>
	</tr>
	<tr>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black white; text-align: center;">
			<i>Subdivision/Village</i>
		</td>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black white; text-align: center;">
			<i>Barangay</i>
		</td>
	</tr>
	<tr>
        <td colspan="3" rowspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		7.&emsp;HEIGHT (m)
		</td>
		<td colspan="4" rowspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="6" style="height: 0.15in; font-size: 62.5%; border: 1px solid black;">&nbsp;</td>
    </tr>
	<tr>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black black; text-align: center;">
			<i>City/Municipality</i>
		</td>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black black; text-align: center;">
			<i>Province</i>
		</td>
	</tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		8.&emsp;WEIGHT (kg)
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black black gray black; text-align: center;">
		ZIP CODE
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
	</tr>
	
	<tr>
        <td colspan="3" rowspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		9.&emsp;BLOOD TYPE
		</td>
		<td colspan="4" rowspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
		&nbsp;
		</td>
		<td colspan="2" rowspan="6" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black; vertical-align: top;">
		<br>
		18.&emsp;PERMANENT
		&emsp;&emsp; ADDRESS
		</td>
		<td colspan="6" style="height: 0.15in; font-size: 62.5%; border: 1px solid black;">
		&nbsp;
		</td>
    </tr>
	
	<tr>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray white black black; text-align: center;">
			<i>House/Block/Lot No.</i>
		</td>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray white black black; text-align: center;">
			<i>Street</i>
		</td>
	</tr>	
	<tr>
        <td colspan="3" rowspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		10.&emsp;GSIS ID NO.
		</td>
		<td colspan="4" rowspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
		&nbsp;
		</td>
		<td colspan="6" style="height: 0.15in; font-size: 62.5%; border: 1px solid black;">
		&nbsp;
		</td>
	</tr>	
	<tr>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black black; text-align: center;">
			<i>Subdivision/Village</i>
		</td>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black black; text-align: center;">
			<i>Barangay</i>
		</td>
	</tr>
	
	<tr>
        <td colspan="3" rowspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		11.&emsp;PAG-IBIG ID NO.
		</td>
		<td colspan="4" rowspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="6" style="height: 0.15in; font-size: 62.5%; border: 1px solid black;">&nbsp;</td>
    </tr>
	
	<tr>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black black; text-align: center;">
			<i>City/Municipality</i>
		</td>
		<td colspan="3" style="height: 0.1in; font-size: 55%; border: 1px solid gray black black black; text-align: center;">
			<i>Province</i>
		</td>
	</tr>	
	
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		12.&emsp;PHILHEALTH NO.
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid gray black black black; text-align: center;">
		ZIP CODE
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		13.&emsp;SSS NO.
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 57.5%; background-color:lightgray; border: 1px solid black;">
		19.&emsp;TELEPHONE NO.
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
	</tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		14.&emsp;TIN NO.
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		20.&emsp;MOBILE NO.
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
	</tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		15.&emsp;AGENCY EMPLOYEE NO.
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 45%; background-color:lightgray; border: 1px solid black;">
		21. E-MAIL ADDRESS (if any)
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
	</tr>
	<tr>
        <td colspan="15" style="height: 0.2in; font-size: 72.5%; background-color:gray; color: white;">
			<b><i>II. FAMILY BACKGROUND</i></b>
		</td>
    </tr>
	<tr>
		<td colspan="3" rowspan="4" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		22.&emsp;SPOUSE'S SURNAME<br>
		<br>
		&emsp;&emsp; FIRST NAME<br>
		<br>
		&emsp;&emsp; MIDDLE NAME
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 52.5%; background-color:lightgray; border: 1px solid black;">
		23. NAME of CHILDREN (Write full name and list all)
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 52.5%; background-color:lightgray; border: 1px solid black; text-align: center;">
			DATE OF BIRTH<br>
			(mm/dd/yyyy)
		</td>		
    </tr>
	<tr>
		<td colspan="4" rowspan="2" style="height: 0.125in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.125in; font-size: 47.5%; background-color:lightgray; border: 1px 1px 0px 1px solid black;">
			NAME EXTENSION (JR, SR)
		</td>
		<td colspan="4" rowspan="2" style="height: 0.125in; font-size: 52.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" rowspan="2" style="height: 0.125in; font-size: 52.5%; border: 1px solid black;">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height: 0.125in; font-size: 52.5%; background-color:lightgray; border: 0px 1px 1px 1px solid black;">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		OCCUPATION<br>
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		EMPLOYER/BUSINESS NAME<br>
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		BUSINESS ADDRESS<br>
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		TELEPHONE NO.<br>
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="3" rowspan="4" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		24. FATHER'S SURNAME<br>
		<br>
		&emsp;&emsp;FIRST NAME<br>
		<br>
		&emsp;&emsp;MIDDLE NAME
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="4" rowspan="2" style="height: 0.125in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.125in; font-size: 47.5%; background-color:lightgray; border: 1px 1px 0px 1px solid black;">
			NAME EXTENSION (JR, SR)
		</td>
		<td colspan="4" rowspan="2" style="height: 0.125in; font-size: 52.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" rowspan="2" style="height: 0.125in; font-size: 52.5%; border: 1px solid black;">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="2" style="height: 0.125in; font-size: 52.5%; background-color:lightgray; border: 0px 1px 1px 1px solid black;">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="9" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px 1px 0px 1px solid black;">
		25. MOTHER'S MAIDEN NAME
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>	
	<tr>
		<td colspan="3" rowspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 0px 1px 1px 1px solid black;">
		SURNAME<br>
		<br>
		FIRST NAME<br>
		<br>
		MIDDLE NAME
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 52.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 52.5%; border: 1px solid black;">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; color:red; border: 1px solid black; text-align: center;">
			<b><i>(Continue on separate sheet if necessary)</i></b>
		</td>		
    </tr>
	<tr>
        <td colspan="15" style="height: 0.2in; font-size: 72.5%; background-color:gray; color: white;">
			<b><i>III. EDUCATIONAL BACKGROUND</i></b>
		</td>
    </tr>
	<tr>
		<td colspan="1" rowspan="2" style="height: 0.3in; font-size: 62.5%; background-color:lightgray; border: 1px 1px 1px 0px solid black;">
			26.
		</td>
		<td colspan="2" rowspan="2" style="height: 0.3in; font-size: 62.5%; background-color:lightgray; border: 1px 0px 1px 1px solid black; text-align: center;">
			LEVEL
		</td>
		<td colspan="3" rowspan="2" style="height: 0.3in; font-size: 52.5%; background-color:lightgray; border: 1px solid black; text-align: center;">
			NAME OF SCHOOL<br>
			(Write in full)
		</td>
		<td colspan="3" rowspan="2" style="height: 0.3in; font-size: 50%; background-color:lightgray; border: 1px solid black; text-align: center;">
			BASIC EDUCATION/DEGREE/COURSE<br>
			(Write in full)
		</td>
		<td colspan="2" style="height: 0.3in; font-size: 50%; background-color:lightgray; border: 1px solid black; text-align: center;">
			PERIOD OF<br>
			ATTENDANCE
		</td>
		<td colspan="2" rowspan="2" style="height: 0.3in; font-size: 50%; background-color:lightgray; border: 1px solid black; text-align: center;">
			HIGHEST LEVEL/<br>
			UNITS EARNED<br>
			(if not graduated)
		</td>
		<td colspan="1" rowspan="2" style="height: 0.3in; font-size: 50%; background-color:lightgray; border: 1px solid black; text-align: center;">
			YEAR<br>
			GRADUATED
		</td>
		<td colspan="1" rowspan="2" style="height: 0.3in; font-size: 40%; background-color:lightgray; border: 1px solid black; text-align: center;">
			SCHOLARSHIP/<br>
			ACADEMIC<br>
			HONORS<br>
			RECEIVED
		</td>		
	</tr>	
	<tr>
		<td colspan="1" style="height: 0.1in; font-size: 50%; background-color:lightgray; border: 1px solid black; text-align: center;">
			From
		</td>
		<td colspan="1" style="height: 0.1in; font-size: 50%; background-color:lightgray; border: 1px solid black; text-align: center;">
			To
		</td>
	</tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		ELEMENTARY<br>
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		SECONDARY<br>
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		VOCATIONAL/TRADE COURSE<br>
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		COLLEGE<br>
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black;">
		GRADUATE STUDIES<br>
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>	
		<td colspan="1" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>			
    </tr>
	<tr>
        <td colspan="15" style="height: 0.1in; font-size: 55%; background-color:lightgray; color:red; border: 1px solid black; text-align: center;">
			<b><i>(Continue on separate sheet if necessary)</i></b>
		</td>
    </tr>
	<tr>
		<td colspan="3" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black; text-align: center;">
		<b><i>SIGNATURE<i></b>
		</td>
		<td colspan="6" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>
		<td colspan="2" style="height: 0.25in; font-size: 62.5%; background-color:lightgray; border: 1px solid black; text-align: center;">
		<b><i>DATE<i></b>
		</td>
		<td colspan="4" style="height: 0.25in; font-size: 62.5%; border: 1px solid black;">
			&nbsp;
		</td>		
    </tr>
	<tr>
		<td colspan="15" style="height: 0.1in; font-size: 50%; border: 1px solid white; text-align: right;">
		<i>CS FORM 212 (Revised 2017), Page 1 of 4</i>
		</td>
	</tr>
</table>
</div>
</html>