{%  extends 'hris/base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="wrapper">
        {% include 'hris/navbar.html' %}      
        <div class="main p-3">
            <div class="text-center">
                <div class="row">
                    
<style>
    .small-font {
        font-size: 10pt;
    }
</style>
<div class="col-md-12 mx-auto ">

    <a href="" style="color: maroon; text-decoration: none; text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); font-size: 40px; display: block; margin: 0 auto; width: fit-content; text-align: center;">Attendance Record</a><br>
    <table id="attendance-table" class="table table-bordered table-sm" style="font-size: 10pt;">
        <thead>
            <tr>
                <th style="white-space: nowrap; text-align: center; vertical-align: middle;"  rowspan="2">Employee ID | NAME</th> <!-- HEADER 1 -->

                <th style="text-align: center;vertical-align: middle;" rowspan="2">E.Stat</th> <!-- HEADER 3 -->
                <th style="text-align: center;vertical-align: middle;"rowspan="2">Date</th> <!-- HEADER 4 -->
                <th style="text-align: center;vertical-align: middle;"rowspan="2">Day</th> <!-- HEADER 4 -->
                <th style="text-align: center;vertical-align: middle;"rowspan="2">Time In</th> <!-- HEADER 5 -->
                <th style="text-align: center;vertical-align: middle;"rowspan="2">Break In</th> <!-- HEADER 6 -->
                <th style="text-align: center;vertical-align: middle;"rowspan="2">Break Out</th> <!-- HEADER 7 -->
                <th style="text-align: center; vertical-align: middle;"rowspan="2">Time Out</th> <!-- HEADER 8 -->
                <th style="text-align: center; vertical-align: middle;"rowspan="2">Official Time In</th> <!-- HEADER 16 -->
                <th style="text-align: center; vertical-align: middle;"rowspan="2">Official Time Out</th> <!-- HEADER 17 -->
                <th  style="text-align: center; vertical-align: middle;" colspan="3" >Total Office</th> <!-- HEADER 9 -->
                <th  style="text-align: center; vertical-align: middle;" colspan="3" class="table-danger" >Total Office Tardiness </th> <!-- HEADER 9 -->
                <th style="text-align: center; vertical-align: middle;"rowspan="2">Official HN Time In</th> <!-- HEADER 10 -->
                <th style="text-align: center;vertical-align: middle;"rowspan="2">Official HN Time Out</th> <!-- HEADER 11 -->
                <th style="text-align: center;vertical-align: middle;" colspan="3" >Total Honorarium</th> <!-- HEADER 12 -->
                <th  style="text-align: center; vertical-align: middle;" colspan="3" class="table-danger" >Total Honorarium Tardiness </th> <!-- HEADER 9 -->
                <th style="text-align: center; vertical-align: middle;" rowspan="2">Official SC Time In</th> <!-- HEADER 13 -->
                <th style="text-align: center;vertical-align: middle;" rowspan="2">Official SC Time Out</th> <!-- HEADER 14 -->
                <th style="text-align: center; vertical-align: middle;" colspan="3" > Total Service Credit</th> <!-- HEADER 15 -->
                <th style="text-align: center; vertical-align: middle;" colspan="3" class="table-danger" > Total Service Credit Tardiness</th> <!-- HEADER 15 -->                  
                <th style=" text-align: center;vertical-align: middle;" rowspan="2">Official OT Time In</th> <!-- HEADER 16 -->
                <th style=" text-align: center;vertical-align: middle;" rowspan="2">Official OT Time Out</th> <!-- HEADER 17 -->
                <th style="text-align: center; vertical-align: middle;" colspan="3" >Total Overtime</th> <!-- HEADER 18 -->
                <th style="text-align: center; vertical-align: middle;" colspan="3" class="table-danger" >Total Overtime Tardiness</th> <!-- HEADER 18 -->
            </tr>
            <tr>
                <td style="text-align: center;vertical-align: middle;">HR</td>
                <td style="text-align: center;vertical-align: middle;">MN</td>
                <td style="text-align: center;vertical-align: middle;">SC</td>
                <td style="text-align: center;vertical-align: middle;" class="table-danger">HR</td>
                <td style="text-align: center;vertical-align: middle;" class="table-danger">MN</td>
                <td style="text-align: center;vertical-align: middle;" class="table-danger">SC</td>
                <td style="text-align: center;vertical-align: middle;">HR</td>
                <td style="text-align: center;vertical-align: middle;">MN</td>
                <td style="text-align: center;vertical-align: middle;">SC</td>
                <td style="text-align: center;vertical-align: middle;" class="table-danger">HR</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">MN</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">SC</td>
                <td style="text-align: center;vertical-align: middle;">HR</td>
                <td style="text-align: center;vertical-align: middle;">MN</td>
                <td style="text-align: center;vertical-align: middle;">SC</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">HR</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">MN</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">SC</td>
                <td style="text-align: center;vertical-align: middle;">HR</td>
                <td style="text-align: center;vertical-align: middle;">MN</td>
                <td style="text-align: center;vertical-align: middle;">SC</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">HR</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">MN</td>
                <td style="text-align: center;vertical-align: middle;"class="table-danger">SC</td>
            </tr>

        </thead>
        <tbody>
   
            {% for record in records %}
            <tr>


                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;">{{ record.employee_id }} | {{ employee.surname }}, {{ employee.first_name }}</td> <!-- table data 1 -->
                <td style="white-space: nowrap; text-align: center;vertical-align: middle;">{{ employee.employment_status }}</td> <!-- table data 2 -->
                <td style="white-space: nowrap; text-align: center; vertical-align: middle;">{{ record.date }}</td> <!-- table data 3 -->
                <td style="text-align: center;vertical-align: middle;">{{ record.day }}</td> <!-- table data 4 -->
                <td style="text-align: center;vertical-align: middle;">{{ record.time_in|time:"g:i:s A" }}</td> <!-- table data 5 -->
                <td style="text-align: center;vertical-align: middle;">{{ record.break_in1 |time:"g:i:s A" }}</td> <!-- table data 6 -->
                <td style="text-align: center;vertical-align: middle;">{{ record.break_out1 |time:"g:i:s A" }}</td> <!-- table data 7 -->
                <td style="text-align: center;vertical-align: middle;">{{ record.time_out|time:"g:i:s A" }}</td> <!-- table data 8 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.official_office_in_datetime}}</td> <!-- table data 9 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.official_office_out_datetime}}</td> <!-- table data 10 -->

                <td style="text-align: center; vertical-align: middle;">{{ record.total_hours }}</td> <!-- table data 11 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.total_minutes }}</td> <!-- table data 12 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.total_seconds }}</td> <!-- table data 13 -->
                <!-- TARDINESS TABLE OFFICE TIME -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_total_hours }}</td> <!-- table data 14 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_total_minutes }}</td> <!-- table data 15 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_total_seconds }}</td> <!-- table data 16 -->

                <td style="text-align: center; vertical-align: middle;">{{record.official_honorarium_time_in}}</td> <!-- table data 17 -->
                <td style="text-align: center; vertical-align: middle;">{{record.official_honorarium_time_out}}</td> <!-- table data 18 -->

                <td style="text-align: center; vertical-align: middle;">{{ record.difference_hours_hn }}</td> <!-- table data 19 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.difference_minutes_hn }}</td> <!-- table data 20 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.difference_seconds_hn }}</td> <!-- table data 21 -->

                <!-- TARDINESS TABLE HONORARIUM TIME -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_hours_hn }}</td> <!-- table data 22 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_minutes_hn }}</td> <!-- table data 23 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_seconds_hn }}</td> <!-- table data 24 -->

                <td style="text-align: center; vertical-align: middle;">{{record.official_servicecredit_time_in}}</td> <!-- table data 25 -->
                <td style="text-align: center; vertical-align: middle;">{{record.official_servicecredit_time_out}}</td> <!-- table data 26 -->

                <td style="text-align: center; vertical-align: middle;">{{ record.difference_hours_sc }}</td> <!-- table data 27 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.difference_minutes_sc }}</td> <!-- table data 28 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.difference_seconds_sc }}</td> <!-- table data 29-->

                <!-- TARDINESS TABLE SERVICE CREDIT TIME -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_hours_sc }}</td> <!-- table data 22 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_minutes_sc }}</td> <!-- table data 23 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_seconds_sc }}</td> <!-- table data 24 -->

                <td style="text-align: center; vertical-align: middle;">{{record.official_overtime_time_in}}</td> <!-- table data 33 -->
                <td style="text-align: center; vertical-align: middle;">{{record.official_overtime_time_out}}</td> <!-- table data 34 -->

                <td style="text-align: center; vertical-align: middle;">{{ record.difference_hours_ot }}</td> <!-- table data 35 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.difference_minutes_ot }}</td> <!-- table data 36 -->
                <td style="text-align: center; vertical-align: middle;">{{ record.difference_seconds_ot }}</td> <!-- table data 37 -->

                <!-- TARDINESS TABLE OVERTIME TIME -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_hours_ot }}</td> <!-- table data 22 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_minutes_ot }}</td> <!-- table data 23 -->
                <td style="text-align: center; vertical-align: middle;" class="table-danger">{{ record.tardiness_difference_seconds_ot }}</td> <!-- table data 24 -->

            </tr>
            {% endfor %}
            <tr id="totals-row">
                <td colspan="3" style="text-align: center; vertical-align: middle;">Total Computed Rendered Time:</td>
                <td colspan="6" style="text-align: center; vertical-align: middle;" id="ov-overall-total"></td>

                <td>Sub Total:</td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="total-hours"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="total-mn"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="total-sc"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-total-hours"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-total-mn"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-total-sc"></td>
                
                <td></td>
                <td>Sub Total:</td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="hn-total-hours"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="hn-total-mn"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="hn-total-sc"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td_hn-total-hours"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td_hn-total-mn"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td_hn-total-sc"></td>
                <td></td>
                <td>Sub Total:</td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="sc-total-hours"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="sc-total-mn"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="sc-total-sc"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-sc-total-hours"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-sc-total-mn"></td>
                <td class="table-danger"  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-sc-total-sc"></td>
                <td></td>
                <td>Sub Total:</td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="ot-total-hours"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="ot-total-mn"></td>
                <td  style="white-space: nowrap; text-align: center; vertical-align: middle;" id="ot-total-sc"></td>
                <td  class="table-danger" style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-ot-total-hours"></td>
                <td class="table-danger" style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-ot-total-mn"></td>
                <td class="table-danger" style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-ot-total-sc"></td>

            </tr>
            <tr id="totals-row">
                <td colspan="3" style="text-align: center; vertical-align: middle;">Total Computed Tardiness Time:</td>
                <td style="white-space: nowrap; text-align: center; vertical-align: middle;" id="td-ov-overall-total" colspan="6"></td>

                <td>Overall Total:</td>
                <td id="overall-total" colspan="3"></td>

                <td class="table-danger" colspan="3" id="td-overall-total"></td>

                <td></td>
                <td>Overall Total:</td>
                <td id="hn-overall-total" colspan="3"></td>
                <td class="table-danger" colspan="3" id="td-hn-overall-total"></td>
                <td></td>
                <td>Overall Total:</td>
                <td id="sc-overall-total" colspan="3"></td>
                <td class="table-danger" colspan="3" id="td-sc-overall-total"></td>
                <td></td>
                <td>Overall Total:</td>
                <td id="ot-overall-total" colspan="3"></td>
                <td class="table-danger" id="td-ot-overall-total" colspan="3"></td>
            </tr>
        </tbody>
    </table>
    <button id="export-btn" class="btn btn-primary">Export to Excel</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<script>
    document.getElementById('export-btn').addEventListener('click', function () {
        var wb = XLSX.utils.table_to_book(document.getElementById('attendance-table'), {sheet:"Attendance"});
        XLSX.writeFile(wb, 'attendance_records.xlsx');
    });

    // Calculate and display totals
    window.addEventListener('DOMContentLoaded', function () {
        calculateAndDisplayTotals();
    });

    function calculateAndDisplayTotals() {
        var totalHours = 0;
        var totalMn = 0;
        var totalSc = 0;

        var hn_totalHours = 0;
        var hn_totalMn = 0;
        var hn_totalSc = 0;

        var sc_totalHours = 0;
        var sc_totalMn = 0;
        var sc_totalSc = 0;

        var ot_totalHours = 0;
        var ot_totalMn = 0;
        var ot_totalSc = 0;

        var td_totalHours = 0;
        var td_totalMn = 0;
        var td_totalSc = 0;

        var td_hn_totalHours = 0;
        var td_hn_totalMn = 0;
        var td_hn_totalSc = 0;
        
        var td_sc_totalHours = 0;
        var td_sc_totalMn = 0;
        var td_sc_totalSc = 0;
        
        var td_ot_totalHours = 0;
        var td_ot_totalMn = 0;
        var td_ot_totalSc = 0;

        var table = document.getElementById('attendance-table');
        var rows = table.getElementsByTagName('tr');

        for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[10].innerText) || 0;
            var mn = parseInt(cells[11].innerText) || 0;
            var sc = parseInt(cells[12].innerText) || 0;

            totalHours += hours;
            totalMn += mn;
            totalSc += sc;
        }

        document.getElementById('total-hours').innerText = totalHours;
        document.getElementById('total-mn').innerText = totalMn;
        document.getElementById('total-sc').innerText = totalSc;

        var totalSeconds = (totalHours * 3600) + (totalMn * 60) + totalSc;
        var hours = Math.floor(totalSeconds / 3600);
        var minutes = Math.floor((totalSeconds % 3600) / 60);
        var seconds = totalSeconds % 60;

        var overallTotal = hours + ' hours ' + minutes + ' minutes  and  ' + seconds + ' seconds ';

        document.getElementById('overall-total').innerText = overallTotal;
        
        // HONORARIUM
        for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[18].innerText) || 0;
            var mn = parseInt(cells[19].innerText) || 0;
            var sc = parseInt(cells[20].innerText) || 0;

            hn_totalHours += hours;
            hn_totalMn += mn;
            hn_totalSc += sc;
        }

        document.getElementById('hn-total-hours').innerText = hn_totalHours;
        document.getElementById('hn-total-mn').innerText = hn_totalMn;
        document.getElementById('hn-total-sc').innerText = hn_totalSc;

        var hn_totalSeconds = (hn_totalHours * 3600) + (hn_totalMn * 60) + hn_totalSc;
        var hn_hours = Math.floor(hn_totalSeconds / 3600);
        var hn_minutes = Math.floor((hn_totalSeconds % 3600) / 60);
        var hn_seconds = hn_totalSeconds % 60;

        var hn_overallTotal = hn_hours + ' hours ' + hn_minutes + ' minutes  and  ' + hn_seconds + ' seconds ';

        document.getElementById('hn-overall-total').innerText = hn_overallTotal;

        // SERVICE CREDIT
        for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[26].innerText) || 0;
            var mn = parseInt(cells[27].innerText) || 0;
            var sc = parseInt(cells[28].innerText) || 0;

            sc_totalHours += hours;
            sc_totalMn += mn;
            sc_totalSc += sc;
        }

        document.getElementById('sc-total-hours').innerText = sc_totalHours;
        document.getElementById('sc-total-mn').innerText = sc_totalMn;
        document.getElementById('sc-total-sc').innerText = sc_totalSc;

        var sc_totalSeconds = (sc_totalHours * 3600) + (sc_totalMn * 60) + sc_totalSc;
        var sc_hours = Math.floor(sc_totalSeconds / 3600);
        var sc_minutes = Math.floor((sc_totalSeconds % 3600) / 60);
        var sc_seconds = sc_totalSeconds % 60;

        var sc_overallTotal = sc_hours + ' hours ' + sc_minutes + ' minutes  and  ' + sc_seconds + ' seconds ';

        document.getElementById('sc-overall-total').innerText = sc_overallTotal;

        //OVERTIME
        for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[34].innerText) || 0;
            var mn = parseInt(cells[35].innerText) || 0;
            var sc = parseInt(cells[36].innerText) || 0;

            ot_totalHours += hours;
            ot_totalMn += mn;
            ot_totalSc += sc;
        }

        document.getElementById('ot-total-hours').innerText = ot_totalHours;
        document.getElementById('ot-total-mn').innerText = ot_totalMn;
        document.getElementById('ot-total-sc').innerText = ot_totalSc;

        var ot_totalSeconds = (ot_totalHours * 3600) + (ot_totalMn * 60) + ot_totalSc;
        var ot_hours = Math.floor(ot_totalSeconds / 3600);
        var ot_minutes = Math.floor((ot_totalSeconds % 3600) / 60);
        var ot_seconds = ot_totalSeconds % 60;

        var ot_overallTotal = ot_hours + ' hours ' + ot_minutes + ' minutes  and  ' + ot_seconds + ' seconds ';

        document.getElementById('ot-overall-total').innerText = ot_overallTotal;

        var overall_total = totalSeconds + ot_totalSeconds + sc_totalSeconds + hn_totalSeconds
        var ov_hours = Math.floor(overall_total / 3600);
        var ov_minutes = Math.floor((overall_total % 3600) / 60);
        var ov_seconds = overall_total % 60;

        var ov_overallTotal = ov_hours + ' hours ' + ov_minutes + ' minutes  and  ' + ov_seconds + ' seconds ';
        document.getElementById('ov-overall-total').innerText = ov_overallTotal;
            //13 14 15
            //21 22 23
            //29 30 31
            //37 38 39

        for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[13].innerText) || 0;
            var mn = parseInt(cells[14].innerText) || 0;
            var sc = parseInt(cells[15].innerText) || 0;

            td_totalHours += hours;
            td_totalMn += mn;
            td_totalSc += sc;
        }

        document.getElementById('td-total-hours').innerText = td_totalHours;
        document.getElementById('td-total-mn').innerText = td_totalMn;
        document.getElementById('td-total-sc').innerText = td_totalSc;

        var td_totalSeconds = (td_totalHours * 3600) + (td_totalMn * 60) + td_totalSc;
        var td_hours = Math.floor(td_totalSeconds / 3600);
        var td_minutes = Math.floor((td_totalSeconds % 3600) / 60);
        var td_seconds = td_totalSeconds % 60;

        var td_overallTotal = td_hours + ' hours ' + td_minutes + ' minutes  and  ' + td_seconds + ' seconds ';

        document.getElementById('td-overall-total').innerText = td_overallTotal;



// HONORARIUM
for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[21].innerText) || 0;
            var mn = parseInt(cells[22].innerText) || 0;
            var sc = parseInt(cells[23].innerText) || 0;

            td_hn_totalHours += hours;
            td_hn_totalMn += mn;
            td_hn_totalSc += sc;
        }

        document.getElementById('td_hn-total-hours').innerText = td_hn_totalHours;
        document.getElementById('td_hn-total-mn').innerText = td_hn_totalMn;
        document.getElementById('td_hn-total-sc').innerText = td_hn_totalSc;

        var td_hn_totalSeconds = (td_hn_totalHours * 3600) + (td_hn_totalMn * 60) + td_hn_totalSc;
        var td_hn_hours = Math.floor(td_hn_totalSeconds / 3600);
        var td_hn_minutes = Math.floor((td_hn_totalSeconds % 3600) / 60);
        var td_hn_seconds = td_hn_totalSeconds % 60;

        var td_hn_overallTotal = td_hn_hours + ' hours ' + td_hn_minutes + ' minutes  and  ' + td_hn_seconds + ' seconds ';

        document.getElementById('td-hn-overall-total').innerText = td_hn_overallTotal;
         //13 14 15
            //21 22 23
            //29 30 31
            //37 38 39
        // SERVICE CREDIT
        for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[29].innerText) || 0;
            var mn = parseInt(cells[30].innerText) || 0;
            var sc = parseInt(cells[31].innerText) || 0;

            td_sc_totalHours += hours;
            td_sc_totalMn += mn;
            td_sc_totalSc += sc;
        }

        document.getElementById('td-sc-total-hours').innerText = td_sc_totalHours;
        document.getElementById('td-sc-total-mn').innerText = td_sc_totalMn;
        document.getElementById('td-sc-total-sc').innerText = td_sc_totalSc;

        var td_sc_totalSeconds = (td_sc_totalHours * 3600) + (td_sc_totalMn * 60) + td_sc_totalSc;
        var td_sc_hours = Math.floor(td_sc_totalSeconds / 3600);
        var td_sc_minutes = Math.floor((td_sc_totalSeconds % 3600) / 60);
        var td_sc_seconds = td_sc_totalSeconds % 60;

        var td_sc_overallTotal = td_sc_hours + ' hours ' + td_sc_minutes + ' minutes  and  ' + td_sc_seconds + ' seconds ';

        document.getElementById('td-sc-overall-total').innerText = td_sc_overallTotal;

        //OVERTIME
        for (var i = 2; i < rows.length - 2; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var hours = parseInt(cells[37].innerText) || 0;
            var mn = parseInt(cells[38].innerText) || 0;
            var sc = parseInt(cells[39].innerText) || 0;

            td_ot_totalHours += hours;
            td_ot_totalMn += mn; 
            td_ot_totalSc += sc;
        }
//asasa
        document.getElementById('td-ot-total-hours').innerText = td_ot_totalHours;
        document.getElementById('td-ot-total-mn').innerText = td_ot_totalMn;
        document.getElementById('td-ot-total-sc').innerText = td_ot_totalSc;

        var td_ot_totalSeconds = (td_ot_totalHours * 3600) + (td_ot_totalMn * 60) + td_ot_totalSc;
        var td_ot_hours = Math.floor(td_ot_totalSeconds / 3600);
        var td_ot_minutes = Math.floor((td_ot_totalSeconds % 3600) / 60);
        var td_ot_seconds = td_ot_totalSeconds % 60;

        var td_ot_overallTotal = td_ot_hours + ' hours ' + td_ot_minutes + ' minutes  and  ' + td_ot_seconds + ' seconds ';

        document.getElementById('td-ot-overall-total').innerText = td_ot_overallTotal;

        var td_overall_total = td_totalSeconds + td_ot_totalSeconds + td_sc_totalSeconds + td_hn_totalSeconds
        var td_ov_hours = Math.floor(td_overall_total / 3600);
        var td_ov_minutes = Math.floor((td_overall_total % 3600) / 60);
        var td_ov_seconds = td_overall_total % 60;

        var td_ov_overallTotal = td_ov_hours + ' hours ' + td_ov_minutes + ' minutes  and  ' + td_ov_seconds + ' seconds ';
        document.getElementById('td-ov-overall-total').innerText = td_ov_overallTotal;





    }
</script>
                </div>
                
            </div>
            {% include 'hris/footer.html' %}  
          </div>
          
        </div>
    </div>
    {% endblock content %}







