{% extends 'hris/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<style>
    body {
        /* Gradient background */

        /* Fallback color if gradients are not supported */
        background-color: maroon; /* Old browsers */
        /* Ensures the gradient stretches to fill the entire body */
        height: 100vh;
        margin: 0;
        /* You can add additional styles to the body here */
    }
</style>
</head>
<div class="container col-md-4">
    <div class="row">

<div class="register-box">
  <div class="register-logo">
    <a href="{% url 'home' %}" style="color: #ffffff; text-decoration: none; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 54px;"><b>EARIST</b> HRIS</a>

  </div>

  <div class="card">
    <div class="card-body register-card-body">
        <a href="" style="color: maroon; text-decoration: none; text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); font-size: 30px; display: block; margin: 0 auto; width: fit-content; text-align: center;"><b>Register a new employee </b></a><br>
            

      <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.username }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form.email }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password1 }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password2 }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-users"></i></span>
            </div>
            <select class="form-control" name="group">
                {% for group in groups %}
                <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Employee Number for Biometrics" name="employee_number" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-id-card"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- /.col -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    
    </div>
    
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<div class="alert " role="alert">
  {% for message in messages %}
  <p id="messages">{{message}}</p>
  {% endfor %}
  {{form.errors}}
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="{% static './plugins/chart.js/Chart.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static './plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static './dist/js/adminlte.js' %}"></script>    
<!-- <script src="{% static 'js/script.js' %}"></script> -->
<script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field 
*/

//Query All input fields
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Username..';
form_fields[2].placeholder='Email..';
form_fields[3].placeholder='Enter password...';
form_fields[4].placeholder='Re-enter Password...';


for (var field in form_fields){	
form_fields[field].className += ' form-control'
}
</script>
</div>
</div>
</div>
{% endblock %}