<form action="" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{form.username}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{form.email}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{form.password1}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{form.password2}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-users"></i></span>
            </div>
            <select class="form-control" name="group">
                {% for group in groups %}
                    <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
          
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block float-left">Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>